@page "/mycpd"
@using TestApp2.Shared
@inject HttpClient Http
@using MudBlazor

<PageTitle>My CPD</PageTitle>

<MudContainer Style="margin-left: 0;">
    <MudPaper Elevation="4" Class="pa-4" Style="width: 100%;">
        <MudText Typo="Typo.h6" Class="mb-2">Continuing Professional Development (CPD) Record</MudText>
        <MudGrid Spacing="2">

            <MudItem xs="2">

            </MudItem>
            <!-- IA Section -->
            <MudItem xs="6">
                <MudText Typo="Typo.subtitle2" Class="mb-1" Style="text-align: left;">Insurance Authority (IA)</MudText>
                <MudText Typo="Typo.body2" Class="text-error" Style="text-align: left;">DUE on 30 Jun 2025</MudText>
            </MudItem>

            <!-- MPFA Section -->
            <MudItem xs="4">
                <MudText Typo="Typo.subtitle2" Class="mb-1" Style="text-align: left;">Mandatory Provident Fund Schemes
                    Authority (MPFA)</MudText>
                <MudText Typo="Typo.body2" Class="text-error" Style="text-align: left;">DUE on 30 Nov 2025</MudText>
            </MudItem>
        </MudGrid>

        <MudTable Items="@myCpdRecords" Hover="true" Breakpoint="Breakpoint.None" Dense="true" Class="mt-4">
            <HeaderContent>
                <MudTh></MudTh>
                <MudTh>Total Hours including Compulsory</MudTh>
                <MudTh>Compulsory#</MudTh>
                <MudTh>Total Hours including Core</MudTh>
                <MudTh>Core</MudTh>
            </HeaderContent>
            <RowTemplate Context="context">
                <MudTd DataLabel="Column"><b>@context.Column</b></MudTd>
                <MudTd DataLabel="Total Hours including Compulsory">@context.IaTotal</MudTd>
                <MudTd DataLabel="Compulsory#"><span class="@(context.IaComp > 0 ? "text-danger" : "")"><b>@context.IaComp</b></span></MudTd>
                <MudTd DataLabel="Total Hours including Core">@context.MpfaTotal</MudTd>
                <MudTd DataLabel="Core"><span class="@(context.MpfaComp > 0 ? "text-danger" : "")"><b>@context.MpfaComp</b></span></MudTd>
            </RowTemplate>
        </MudTable>

        @* <MudTable Items="@myCpdRecords" Hover="true" Breakpoint="Breakpoint.None" Dense="true" Class="mt-4">
            <HeaderContent>
                <MudTh></MudTh>
                <MudTh>Total Hours including Compulsory</MudTh>
                <MudTh>Compulsory#</MudTh>
                <MudTh>Total Hours including Core</MudTh>
                <MudTh>Core</MudTh>
            </HeaderContent>


            <!-- Required Row -->
            <MudTr>
                <MudTd><b>Required</b></MudTd>
                <MudTd>@myCpdRecords.RequiredIaTotal</MudTd>
                <MudTd><span
                        class="@(myCpdRecords.RequiredIaComp > 0 ? "text-danger" : "")"><b>@myCpdRecords.RequiredIaComp</b></span>
                </MudTd>
                <MudTd>@myCpdRecords.RequiredMpfaTotal</MudTd>
                <MudTd><span
                        class="@(myCpdRecords.RequiredMpfaComp > 0 ? "text-danger" : "")"><b>@myCpdRecords.RequiredMpfaComp</b></span>
                </MudTd>
            </MudTr>

            <!-- Earned Row -->
            <MudTr>
                <MudTd><b>Earned</b></MudTd>
                <MudTd>@myCpdRecords.EarnedIaTotal</MudTd>
                <MudTd><span
                        class="@(myCpdRecords.EarnedIaComp > 0 ? "text-danger" : "")"><b>@myCpdRecords.EarnedIaComp</b></span>
                </MudTd>
                <MudTd>@myCpdRecords.EarnedMpfaTotal</MudTd>
                <MudTd><span
                        class="@(myCpdRecords.EarnedMpfaComp > 0 ? "text-danger" : "")"><b>@myCpdRecords.EarnedMpfaComp</b></span>
                </MudTd>
            </MudTr>

            <!-- Outstanding Row -->
            <MudTr>
                <MudTd><b>Outstanding</b></MudTd>
                <MudTd>@myCpdRecords.OutstandingIaTotal</MudTd>
                <MudTd><span
                        class="@(myCpdRecords.OutstandingIaComp > 0 ? "text-danger" : "")"><b>@myCpdRecords.OutstandingIaComp</b></span>
                </MudTd>
                <MudTd>@myCpdRecords.OutstandingMpfaTotal</MudTd>
                <MudTd><span
                        class="@(myCpdRecords.OutstandingMpfaComp > 0 ? "text-danger" : "")"><b>@myCpdRecords.OutstandingMpfaComp</b></span>
                </MudTd>
            </MudTr>

        </MudTable> *@


        <br />
        <MudText Typo="Typo.caption" Class="mt-2" Style="color: #666666"># IA compulsory CPD hours on "Ethics or
            Regulations"</MudText>
    </MudPaper>
</MudContainer>


<br />
<MudText Typo="Typo.h6" Class="mb-2"> <b>Your Courses / Activities Overview</b></MudText>
<MudTable Items="@myCourseRecords" Hover="true" Breakpoint="Breakpoint.None" Striped="@striped" Color="Color.Tertiary"
    Style="overflow-x: auto;" SortBy="new Func<MyCourseRecord, object>(x => x.DateCompleted)"
    SortDirection="SortDirection.Descending" SortLabel="Sort By" FixedHeader="@fixed_header" FixedFooter="@fixed_footer"
    Height="@(fixed_header || fixed_footer ? "400px" : "")">
    <HeaderContent>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<MyCourseRecord, object>(x => x.DateCompleted)">Date Completed
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<MyCourseRecord, object>(x => x.CourseCode)">Course Code
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<MyCourseRecord, object>(x => x.Provider)">Course / Activity Provider
            </MudTableSortLabel>
        </MudTh>
        <MudTh>Course / Activity Title</MudTh>
        <MudTh>IA CPD</MudTh>
        <MudTh>IA Compulsory</MudTh>
        <MudTh>MPFA Non-Core</MudTh>
        <MudTh>MPFA Core</MudTh>
    </HeaderContent>

    <RowTemplate>
        <MudTd DataLabel="Date Completed">@context.DateCompleted.ToString("yyyy-MM-dd")</MudTd>
        <MudTd DataLabel="Course Code">@context.CourseCode</MudTd>
        <MudTd DataLabel="Course / Activity Provider">@context.Provider</MudTd>
        <MudTd DataLabel="Course / Activity Title">@context.CourseTitle</MudTd>
        <MudTd DataLabel="IA CPD">@context.IaCpd</MudTd>
        <MudTd DataLabel="IA Compulsory">@context.IaCompulsory</MudTd>
        <MudTd DataLabel="MPFA Non-Core">@context.MpfaNonCore</MudTd>
        <MudTd DataLabel="MPFA Core">@context.MpfaCore</MudTd>
    </RowTemplate>
</MudTable>

@code {
    private bool _loading = false;
    private bool striped = true;
    bool fixed_header = true;
    bool fixed_footer = false;
    private int TargetPeople = 5;
    private IaCpdRecord[]? iaCpdRecords;
    private MyCpdRecord[]? myCpdRecords;
    private MyCourseRecord[]? myCourseRecords;

    protected override async Task OnInitializedAsync()
    {
        iaCpdRecords = await Http.GetFromJsonAsync<IaCpdRecord[]>("TeamCPD/IAcpd");
        myCpdRecords = await Http.GetFromJsonAsync<MyCpdRecord[]>("MyCPD/MYcpd");
        myCourseRecords = await Http.GetFromJsonAsync<MyCourseRecord[]>("MyCPD/MYcourse");
    }
}