@page "/teamcpd"
@using TestApp2.Shared
@inject HttpClient Http
@using MudBlazor

<PageTitle>Team CPD</PageTitle>

<h1>Team CPD</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (iaCpdRecords == null || mpfaCpdRecords == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h4>IA CPD Records</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Full Name</th>
                <th>Total Hours</th>
                <th>Compulsory</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in iaCpdRecords)
            {
                <tr>
                    <td>@record.Name</td>
                    <td>@record.FullName</td>
                    <td>@record.TotalHours</td>
                    <td>@record.Compulsory</td>
                </tr>
            }
        </tbody>
    </table>

    <MudTable Items="@mpfaCpdRecords" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@_loading"
          LoadingProgressColor="Color.Info">
    <HeaderContent>
        <MudTh>Name</MudTh>
        <MudTh>Full Name</MudTh>
        <MudTh>Total Hours (including Core)</MudTh>
        <MudTh>Core</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Name">@context.Name</MudTd>
        <MudTd DataLabel="Full Name">@context.FullName</MudTd>
        <MudTd DataLabel="Total Hours">@context.TotalHours.ToString("0.0")</MudTd>
        <MudTd DataLabel="Core">@context.Core.ToString("0.0")</MudTd>
    </RowTemplate>
</MudTable>
}

@code {
    private bool _loading = false;
    private IaCpdRecord[]? iaCpdRecords;
    private MpfaCpdRecord[]? mpfaCpdRecords;

    protected override async Task OnInitializedAsync()
    {
        iaCpdRecords = await Http.GetFromJsonAsync<IaCpdRecord[]>("TeamCPD/IAcpd");
        mpfaCpdRecords = await Http.GetFromJsonAsync<MpfaCpdRecord[]>("TeamCPD/MPFAcpd");
    }
}